hr{
  width:75%;
  border: 1px solid #E5E5E5;
}

.sales-totals{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.sales-mn-ctr{
  width: 58%;
  background: #FFFFFF;
}

.sales-data{
  height: 80%;
}

.sales-values{
  font-weight: bolder;
  font-size: 25px;
  margin: 2px;
  color: #5C5C5C;
}

.sales-text{
  color: #B8B8B8;
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}

.sales-hdr{
  text-align: left;
  margin: 23px 0px 0 30px;
  font-size: 25px;
  font-weight: bolder;
  color: #A08F7B;
}

/* --------------- MOBILE SCREENS -------------- */

@media screen and (min-width: 300px) and (max-width: 430px) and (min-height: 500px) and (max-height: 830px){
  .sales-mn-ctr{
    margin: 0 auto;
    width: 98%;
    height: 60%;
  }
  .sales-hdr{
    font-size: 90%;
    margin: 15px 0px 0 30px;
  }
}
/* GS5 & IP6 */
@media screen and (min-width: 360px) and (max-width: 375px) and (min-height: 600px) and (max-height: 680px){
  hr{
    margin: 0 auto;
  }
}
/* IP+ & PX2 */

@media screen and (min-width: 360px) and (max-width: 420px) and (min-height: 800px) and (max-height: 830px){
  .sales-data {
    height: 75%;
  }
}
/* IP5 */
@media screen and (max-width: 350px){
  hr{
    margin: 0 auto;
  }
  .sales-totals p {
    font-size: 70%;
  }
}
/* ********* Landscape *********** */
@media screen and (min-width: 430px) and (max-width: 830px) and (min-height: 300px) and (max-height: 450px){
  .sales-hdr{
    margin: 10px 0px 0 20px;
    font-size: 100%;
  }
  .sales-mn-ctr{
    width: 70%;
  }
  hr{
    margin: 0 auto;
  }
  .sales-totals p {
    font-size: 70%;
  }
}

/* --------------- PC SCREENS -------------- */
@media screen and (max-width: 1450px){
  .sales-values{
    font-size: 20px;
  }
  .sales-text{
    font-size: 12px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 2100px) {
  .sales-hdr{
    font-size: 40px;
  }
  .sales-values{
    font-size: 45px;
  }
  .sales-text{
    font-size: 30px;
  }
  .sales-hdr{
    font-size: 90%;
  }
  hr{
    margin-bottom: 30px;
  }
  
  }
  
  