@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body{
  overflow-y: hidden;
}

html{
  background: #F5F5F5;
}

.App {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

.mn-ctr{
  max-height: 76vh;
  height: 76vh;
  display: flex;
  justify-content: space-evenly;
}


/* --------------- MOBILE SCREENS -------------- */

@media screen and (max-width: 425px) {
  body{
    overflow-y: auto;
  }
  .mn-ctr{
    display: inline-block;
    width: 100%;
  }
}

/* ********* Landscape *********** */

@media screen and (min-width: 430px) and (max-width: 830px) and (min-height: 300px) and (max-height: 450px){

  .mn-ctr{
    max-height: 80vh;
    height: 80vh;
  }
}
